<section class="section bg-home home-half" id="home" data-image-src="assets/images/bg-home.jpg">
 <div class="bg-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-white text-center">
          <h4 class="home-small-title">We love making things amazing and simple</h4>
          <h1 class="home-title">Social reactivation made easy.</h1>
          <p class="padding-t-15 home-desc mx-auto">Don't waste your precious time appealing manually.</p>
          <a routerLink="/register" class="btn btn-custom margin-t-20">Get Started Today</a>
          <img src="assets/images/home-dashboard.png" alt="" class="img-fluid margin-t-20">
        </div>
      </div>
    </div>
</section>


<app-feature></app-feature>
<app-services></app-services>
<app-pricing></app-pricing>

