<section class="section" id="features">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 order-2 order-lg-1">
              <div class="features-box mt-5 mt-lg-0">
                  <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                      <li class="">Manage multiple accounts in same time</li>
                      <li class="">Enable and disable your account.</li>
                      <li class="">Submit Your Orgnization automaticly.</li>
                  </ul>
                  <a routerLink="/register" class="btn btn-custom margin-t-30 waves-effect waves-light">Register now <i class="mdi mdi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-7 order-1 order-lg-2">
              <div class="features-img mx-auto mr-lg-0">
                  <img src="assets/images/insta.png" alt="Instagram" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>
