<nav class="sidebar">
  <div class="list-group">
      <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>
          <span>Summary</span>
      </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>
      <span>Instagram Accounts</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>
      <span>Your Selfies</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>
      <span>Your email accounts</span>
    </a>
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>
      <span>Settings</span>
    </a>
  <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <i class="fa fa-fw fa-dashboard"></i>
    <span>Chat with support</span>
  </a>
  <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
    <i class="fa fa-fw fa-dashboard"></i>
    <span>Logout</span>
  </a>
  </div>
</nav>

