<div class="d-sm-flex align-items-center justify-content-between mb-4" bis_skin_checked="1">
  <h1 class="h3 mb-0 text-gray-800">Custom selfies</h1>
</div>
<p>A one-time setup to make appealing process unique. .</p>
<div class="card">
  <div class="card-header">
    This looks empty
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Upload your own selfies to boost success ratio.
    </p>
    <a href="#!" class="btn btn-primary">Upload</a>
  </div>
</div>