<div class="d-sm-flex align-items-center justify-content-between mb-4" bis_skin_checked="1">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Accounts Running</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">0/0</div>
          </div>
          <div class="col-auto">
            <i class="fa fa-apple fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Referral Earnings</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$0.00</div>
          </div>
          <div class="col-auto">
            <i class="fa fa-dollar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Subscription Validity</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">0 days</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 1%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fa fa-clipboard fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Your Product</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">ULTIMATE</div>
          </div>
          <div class="col-auto">
            <i class="fa fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">
    <!--Card content-->
    <div class="card-body">
      <h4 class="card-title">Logged in as</h4>
      <!--Text-->
      <p class="card-text">marcelo.t80@gmail.com</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a routerLink="/client/settings" class="btn btn-primary">Settings</a>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">
    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Package</h4>
      <!--Text-->
      <p class="card-text">Purchase a plan to reactivate accounts.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a routerLink="/client/packages" class="btn btn-primary">Change my plan</a>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Questions?</h4>
      <!--Text-->
      <p class="card-text">Having issues? Talk with an agent or see the application movie
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a routerLink="/client/chat" class="btn btn-primary">Chat Support</a>

    </div>

  </div>
  <!-- Card -->

</div>
<br/>
<div class="list-group-flush">
  <div class="list-group-item">
    <h3 class="mb-0"><i class="mdi mdi-emoticon-excited-outline  mr-4 blue p-3 white-text rounded " aria-hidden="true"></i>No accounts require attention</h3>
  </div>
  <div class="list-group-item">
    <h3 class="mb-0"> <i class="mdi mdi-emoticon-neutral-outline mr-4 mr-4 red p-3 white-text rounded" aria-hidden="true"></i>No appeals have been sent today</h3>
  </div>
  <div class="list-group-item">
    <h3 class="mb-0"><i class="mdi  mdi-emoticon-sad-outline mr-4 mr-4 purple p-3 white-text rounded" aria-hidden="true"></i>No accounts reactivated today</h3>
  </div>
</div>
<br/>
<!-- Card deck -->
<div class="card text-center">
  <div class="card-header">
    <i class="mdi mdi-content-copy"> Your referral link </i>
  </div>
  <div class="card-body">
    Share it with your friends and earn 35% on their spendings.
    <h3 class="card-title"><a routerLink="/?ref=23cb6c33420e">http://unblockyoursocial.com/?ref=23cb6c33420</a></h3>
    <hr/>
    <div class="d-flex justify-content-center" bis_skin_checked="1">
      <div class="mx-2 text-center" bis_skin_checked="1">
        <p class="mdc-typography--subtitle2 mt-4 mb-0 interx font-weight-bold">Total earned</p>
        <p class="mdc-typography--body2 mt-1 metropolis">
          $0.00</p>
      </div>
      <div class="mx-2 text-center" bis_skin_checked="1">
        <p class="mdc-typography--subtitle2 mt-4 mb-0 interx font-weight-bold">People referred</p>
        <p class="mdc-typography--body2 mt-1 metropolis">0</p>
      </div>

      <div class="mx-2 text-center" bis_skin_checked="1">
        <p class="mdc-typography--subtitle2 mt-4 mb-0 interx font-weight-bold">Unique clicks</p>
        <p class="mdc-typography--body2 mt-1 metropolis">0</p>
      </div>
    </div>
  </div>
</div>